cd d:\dealspot\dealspot-backend
$env:PORT = "8081"
$env:CLOUDINARY_CLOUD_NAME = "i81pyiis"
$env:CLOUDINARY_API_KEY = "751399486935337"
$env:CLOUDINARY_API_SECRET = "15GYxfAoj7-sgfYnHfyE14Rf-9w"
mvn spring-boot:run